<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Slim ActiveRecord Facebook</title>
  <meta property="og:title" content="Slim ActiveRecord Facebook">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://<?php print $app->config("host"); ?>/" />
  <meta property="og:image" content="http://placekitten.com/200/200">
  <meta property="og:description" content="Boilerplate Facebook application with Slim, PHP ActiveRecord and PHP Facebook API.">
</head>
<body>
    OHAI Facebook!
</body>
</html>
