<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tab</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- Needed only if Friendselector used -->
  <link rel="stylesheet" href="css/tdfriendselector.css" />	
</head>
<body>
  
  <a id="login" href="#">FB.login()</a> | 
  <a id="login_select" href="#">FB.login() and Friendselector</a> |
  <a id="oauth" href="#">FB.ui({method: "oauth"})</a>

  <br />
  <a id="feed" href="#">Wallpost / share</a> | 
  <a id="send" href="#">Message</a>
  <br />
  <div class="fb-like" data-href="http://slim-ar-facebook.taevas.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
  
  <br />
  <br />
  <a id="redirect" href="redirect">Redirect back here</a> | 
  <a href="https://github.com/tuupola/slim-ar-facebook" target="_top">Fork me on GitHub</a>
  

  <?php include "_friendselector.html" ?>
  
  <div id="fb-root"></div>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//connect.facebook.net/en_US/all.js"></script>
  <script src="js/tdfriendselector.js"></script>
  <script src="js/application.js"></script>
  <script>
    var settings = {
        tab_url    : "<?php print $app->config('tab_url'); ?>",
        client_id  : "<?php print $app->config('client_id') ?>"
    };          

    FB.init({
        appId      : "<?php print $app->config('client_id') ?>",
        channelURL : "//<?php print $app->config('host') ?>/channel", 
        status     : true, 
        cookie     : true, 
        oauth      : true, 
        xfbml      : true 
    });

    FB.Canvas.setAutoGrow();
    
    FB.Event.subscribe("edge.create", function(target) {
        //_gaq.push(["_trackSocial", "facebook", "like", target]);
        console.log("Callback for FB like:", target);
    });
    
    FB.Event.subscribe("edge.remove", function(target) {
      //_gaq.push(["_trackSocial", "facebook", "unlike", target]);
      console.log("Callback for FB unlike:", target);
    });
    
    FB.Event.subscribe("message.send", function(target) {
      //_gaq.push(["_trackSocial", "facebook", "send", target]);
      console.log("Callback for FB send:", target);
    });
    
    FB.Event.subscribe("comment.create", function(target) {
      //_gaq.push(["_trackSocial", "facebook", "comment", target]);
      console.log("Callback for FB comment:", target);
    });
    
    FB.Event.subscribe("comment.remove", function(target) {
      //_gaq.push(["_trackSocial", "facebook", "remove comment", target]);
      console.log("Callback for FB remove comment:", target);
    })
  
  </script>
  
</body>
</html>
